/*------------------------------------*\
    $MOWIN
\*------------------------------------*/
/**
 * Base modal window styles.
 */
.mowin {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    @include vendor(transform, translate(-50%, -50%));
    width: 80%;
    max-width: 650px;
    height: auto;
    z-index: 999999;
}

    .mowin__toolbar {
        background: $base-font-color--ascent;
        text-align: right;
    }

    .mowin__toobar-link {
        display: inline-block;
        padding: $half-spacing-unit / 2;
        background: $base-font-color;
        color: $base-font-color--ascent;

        &:hover {
            background: $base-ui-color;
            color: $base-font-color--ascent;
        }
    }

    .mowin__container {
        margin: $base-spacing-unit;
        text-align: center;
    }
    
    .mowin--branded {
        background: $base-background-color;
        color: $base-font-color;
    }

    .mowin--active {
        display: block;
    }


.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $base-font-color;
    @include opacity(0.7);
}

    .overlay--active {
        display: block;
    }