/*------------------------------------*\
    $STATE
\*------------------------------------*/
.state {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

    .state__active {
        display: block;
        visibility: visible;
    }

    .state__inactive {
        display: none;
        visibility: visible;
    }

    .state__centered-contents {
        text-align: center;
    }