/*------------------------------------*\
    $TEXT
\*------------------------------------*/
.text--thin {
    font-weight: 400;
}

.text--thick {
    font-weight: 700;
}

.text--centered {
    text-align: center;
}
