/*------------------------------------*\
    $CARS
\*------------------------------------*/
.car {
    padding: $gutter $gutter * 2;
    margin: $gutter 0;
}

    
    .car--selected {
        background-color: $object-car-selected-background-color;
    }


    .car-specs {

    }

        .car-specs__item {
            font-size: $milli-size;
            text-align: left;
        }

        .car-specs__item__name {
            color: $object-car-name-text-colour;
            margin-bottom: $half-spacing-unit;
        }

        .car-specs__item__image {
            display: block;
            margin-bottom: $half-spacing-unit;
        }

        .car-specs__item__value {
            float: right;
        }
