/*------------------------------------*\
    $FULLSCREEN
\*------------------------------------*/
/**
 * Base fullscreen styles.
 */
.fullscreen {
    position: fixed;
    top: $gutter;
    right: $gutter;
    z-index: 999999;
    text-decoration: none;
}
