/*------------------------------------*\
    $INPUTS
\*------------------------------------*/
/**
 * Base input styles.
 */
.input {
    display: inline-block;
    vertical-align: middle;
    font-family: inherit;
    background-color: $object-input-background-color;
    border: 0;
    border-bottom: $base-border-size dashed;
    border-color: $object-input-border-color;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: $h2-size;
    color: $object-input-text-color;
    text-align: center;
    @include vendor(transition, all ease-in-out 0.2s);
}

/**
 * These buttons will fill the entirety of their container.
 *
 * 1. Remove padding so that widths and paddings don’t conflict.
 */
.input--full {
    display: block;
    width: 100%;
    padding-right: 0;           /* [1] */
    padding-left: 0;            /* [1] */
}

.input--small {
    display: block;
    width: 30%;
    margin: 0 auto;
}
